/* ibm-plex-serif-regular - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('./fonts/ibm-plex-serif-v15-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-serif-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-500 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('./fonts/ibm-plex-serif-v15-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-serif-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src:
    local(''),
    url('./fonts/ibm-plex-serif-v15-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-serif-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('./fonts/ibm-plex-serif-v15-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-serif-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  /* colors */
  --c-aside-border: var(--c-link-bg-focus);
  --c-bg: #fdfaf4;
  --c-bg-secondary: #fff0d2;
  --c-link-bg-focus: #f0b2f4;
  --c-link-visited: var(--c-text-prominent);
  --c-text-prominent: #111111;
  --c-text: #313131;

  /* sizes */
  /* modular scale */
  /* https://www.modularscale.com/?1&em&1.618 */
  --s-ms-2: 0.382;
  --s-ms-1: 0.618;
  --s-ms0: 1;
  --s-ms1: 1.618;
  --s-ms2: 2.618;
  --s-ms3: 4.236;
  --s-ms4: 6.854;

  --s-ms-2-em: calc(var(--s-ms-2) * 1em);
  --s-ms-1-em: calc(var(--s-ms-1) * 1em);
  --s-ms0-em: calc(var(--s-ms0) * 1em);
  --s-ms1-em: calc(var(--s-ms1) * 1em);
  --s-ms2-em: calc(var(--s-ms2) * 1em);
  --s-ms3-em: calc(var(--s-ms3) * 1em);
  --s-ms4-em: calc(var(--s-ms4) * 1em);

  --s-ms-2-rem: calc(var(--s-ms-2) * 1rem);
  --s-ms-1-rem: calc(var(--s-ms-1) * 1rem);
  --s-ms0-rem: calc(var(--s-ms0) * 1rem);
  --s-ms1-rem: calc(var(--s-ms1) * 1rem);
  --s-ms2-rem: calc(var(--s-ms2) * 1rem);
  --s-ms3-rem: calc(var(--s-ms3) * 1rem);
  --s-ms4-rem: calc(var(--s-ms4) * 1rem);

  --s-center-column: 35.5rem;
  --s-center-column-side-padding: var(--s-ms-1-rem);

  --list-padding: var(--s-ms1-rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #161411;
    --c-bg-secondary: #0a0a0a;
    --c-link-bg-focus: #7a5da6;
    --c-link-visited: var(--c-text-prominent);
    --c-text: #cacaca;
    --c-text-prominent: #eee;
  }
}

* {
  box-sizing: border-box;
}

body {
  align-items: stretch;
  background: var(--c-bg-secondary);
  color: var(--c-text);
  display: grid;
  font-family: 'IBM Plex Serif';
  grid-template-rows: min-content 1fr;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

aside {
  border: 2px solid var(--c-link-bg-focus);
  border-radius: 8px;
  margin: 0.8rem 0 1.4rem;
  padding: 0.8rem;
}

a,
summary div {
  --side-padding: 2px;
  color: var(--c-text-prominent);
  cursor: pointer;
  font-weight: 600;
  margin: 0 calc(var(--side-padding) * -1);
  padding: 0 var(--side-padding);
  text-decoration: underline;
  transition: 180ms background-color;
  width: fit-content;
}

a:is(:hover, :focus-visible),
summary:is(:hover, :focus-visible) div {
  background: var(--c-link-bg-focus);
  outline: 0;
}

a:visited {
  color: var(--c-link-visited);
}

dl > div {
  margin-bottom: var(--s-ms1-em);
}

dl > div > * {
  display: inline;
}

dd {
  margin: 0;
}

dd::before {
  content: ' — ';
}

dt {
  color: var(--c-text-prominent);
  font-weight: bold;
}

details {
  width: 100%;
}

details dl {
  margin: 1.5em 0;
}

li + li {
  margin-top: 0.4rem;
}

ul,
ol {
  padding-left: var(--list-padding);
}

footer {
  align-items: center;
  background: var(--c-bg);
  display: flex;
  flex-direction: column;
  font-size: 0.78rem;
  justify-content: end;
  max-width: calc(
    var(--s-center-column) + var(--s-center-column-side-padding) * 2
  );
  padding: var(--s-ms1-rem) var(--s-center-column-side-padding) var(--s-ms1-rem);
}

footer dl > div {
  text-align: center;
}

footer dl > div > * {
  display: block;
}

footer dd::before {
  content: '';
}

footer dt {
  font-size: var(--s-ms0-em);
}

footer p {
  max-width: 31rem;
  text-align: center;
}

footer p svg {
  --size: 0.73rem;
  display: inline-block;
  fill: var(--c-text);
  height: var(--size);
  stroke: var(--c-text);
  width: var(--size);
}

.copyleft {
  align-items: center;
  display: flex;
  gap: 0.5ch;
  justify-content: center;
}

.copyleft + * {
  margin-top: var(--s-ms-1-em);
}

h1 {
  font-size: var(--s-ms1-rem);
  font-weight: 500;
  margin: 0;
  text-align: center;
}

h1 svg {
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  font-size: inherit;
  margin-right: 0.1ch;
  vertical-align: sub;
  width: 2ch;
}

:where(h1, h2, h3) a {
  position: relative;
  text-decoration: none;
}

:where(h1, h2, h3) a:where(:hover, :focus-within) {
  text-decoration: underline;
}

:where(h1, h2, h3) a:where(:hover, :focus-within)::before {
  color: var(--c-link-bg-focus);
  content: '#';
  right: 106%;
  position: absolute;
  visibility: hidden;
}

h2 {
  font-size: var(--s-ms0-rem);
  margin: 0;
}

main {
  background: var(--c-bg);
  max-width: calc(
    var(--s-center-column) + var(--s-center-column-side-padding) * 2
  );
  padding: var(--s-ms2-rem) var(--s-center-column-side-padding)
    var(--s-ms-1-rem);
}

:where(main, main section, footer) > * + * {
  margin-bottom: 0;
  margin-top: var(--s-ms1-em);
}

summary {
  display: flex;
  justify-content: center;
  width: 100%;
}

summary:is(:focus, :focus-visible) {
  outline: none;
}

@media (min-width: 360px) {
  h1 {
    font-size: var(--s-ms2-rem);
  }

  h2 {
    font-size: var(--s-ms1-rem);
  }
}

@media (min-width: 540px) {
  :root {
    --s-center-column-side-padding: var(--s-ms2-rem);
  }

  :where(h1, h2, h3) a:where(:hover, :focus-within)::before {
    visibility: visible;
  }
}

@media (min-width: 800px) {
  :root {
    --s-center-column-side-padding: var(--s-ms3-rem);
  }
}

@media (min-width: 960px) {
  :root {
    --s-center-column-side-padding: var(--s-ms4-rem);
  }

  h1 {
    font-size: var(--s-ms3-rem);
  }

  footer {
    padding-top: var(--s-ms2-rem);
  }
}
